page-feed {
    h2.feed_title {
        color: red;
        font-weight: bold;
    }
    p.feed_date {
        color: green;
    }

    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        background-image: url("/assets/imgs/party.png");
        background-size: 20%;
       // background-color: #c8c7cc;
      // background-image: linear-gradient(red, yellow);
      // background-image: url('/src/assets/imgs/mascara.jpg');
      // background: repeat;
      }


}
