page-blocosdetalhes {

    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        background-image: url("/assets/imgs/party.png");
        background-size: 20%;
        //background-image: url("assets/imgs/mascara.jpg");
       /// background-image: linear-gradient(red, yellow);
      }
      

}
